%section#articles
  - for article in articles[0...3]
    %article.post
      %header
        %h3
          %a{:href => article.path}= article.title
        %span.date= article.date
      %section.content
        = article.summary
      .more
        %a{:href => "#{article.path}#disqus_thread"} 0 Comments &raquo;
%section#archives
  = archives[3..-1]
